<app-header></app-header>

<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="row w-75">
      <!-- Columna de imagen -->
      <div class="col-md-6 bg-white d-flex align-items-center justify-content-center">
        <div class="img-placeholder text-center">
          <img src="assets/images/logo1.png" alt="logo principal">
        </div>
      </div>
  
      <!-- Columna de formulario de login -->
      <div class="col-md-6 bg-brown d-flex flex-column justify-content-center p-4">
        <div class="text-center mb-4">
          <img src="assets/images/logo2.png" alt="Logo" class="logo-img mb-3">
          <h2 class="text-white">Bienvenido</h2>
        </div>
        <form (ngSubmit)="onLogin()">
          <div class="form-group mb-3">
            <input [(ngModel)]="username" name="username" type="username1" class="form-control" placeholder="Nombre de usuario" required>
          </div>
          <div class="form-group mb-3 position-relative">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Contraseña" required>
            <span class="position-absolute toggle-password" style="top: 0%; right: 0; cursor: pointer;">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                <!-- Eye Icon -->
                <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
            </span>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-dark btn-block">Iniciar Sesión</button>
          </div>
          <div class="text-center mt-2">
            <a href="#" data-bs-toggle="modal" data-bs-target="#passwordRecoveryModal" class="text-white">¿Haz olvidado la contraseña?</a>
          </div>
          <div class="text-center mt-3">
            <button type="button" (click)="navigateToRegister()" class="btn btn-outline-light">Crear Cuenta Nueva</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
<app-footer></app-footer>

<!-- Incluir el modal -->
<app-password-recovery-modal></app-password-recovery-modal>
