<div class="body">
    <app-header></app-header>
    <!-- Sección de productos más solicitados -->
    <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/prod2.jpg" class="card-img-top" alt="Producto">
            <div class="card-body">
              <h5 class="card-title">Producto 1</h5>
              <p class="card-text">Descripción breve del producto.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/prod4.jpg" class="card-img-top" alt="Producto">
            <div class="card-body">
              <h5 class="card-title">Producto 2</h5>
              <p class="card-text">Descripción breve del producto.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/prod5.jpg" class="card-img-top" alt="Producto">
            <div class="card-body">
              <h5 class="card-title">Producto 3</h5>
              <p class="card-text">Descripción breve del producto.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
<app-footer></app-footer>
</div>
