<div class="container">
    <div class="row justify-content-center">
        @if(!this.hideButtons){
            <div class="col-md-10">
                <h2 class="label">Registro Productos</h2>
                <!-- Imagen para registrar Empresa -->
                <div class="my-3">
                  <a (click)="mostrarFormulario('productos')">
                    <img
                      src="assets/images/prod1.jpeg"
                      alt="Registro de Empresa"
                      class="img-fluid"
                    />
                  </a>
                </div>
                <!-- Imagen para registrar Comunidad -->
                <h2 class="label">Registro Comunidad</h2>
                <div class="my-3">
                  <a (click)="mostrarFormulario('comunidad')">
                    <img
                      src="assets/images/comunidad1.jpg"
                      alt="Registro de Comunidad"
                      class="img-fluid"
                    />
                  </a>
                </div>
              </div>
        }
      
    </div>

    <div *ngIf="formularioActual === 'productos'" class="mt-5">
        <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
        <!-- src/app/components/registrar-producto/registrar-producto.component.html -->
<div class="container mt-5">
  <h2>Registrar Nuevo Producto</h2>
  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="id_categoria" class="form-label">Categoría</label>
      <select id="id_categoria" formControlName="id_categoria" class="form-select" 
              [ngClass]="{'is-invalid': productoForm.get('id_categoria')?.invalid && productoForm.get('id_categoria')?.touched}">
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nombre }}</option>
      </select>
      <div class="invalid-feedback">
        Categoría es requerida.
      </div>
    </div>

    <div class="mb-3">
      <label for="nombre_producto" class="form-label">Nombre del Producto</label>
      <input type="text" id="nombre_producto" formControlName="nombre_producto" class="form-control" 
             [ngClass]="{'is-invalid': productoForm.get('nombre_producto')?.invalid && productoForm.get('nombre_producto')?.touched}">
      <div class="invalid-feedback">
        Nombre del producto es requerido.
      </div>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" class="form-control" 
                [ngClass]="{'is-invalid': productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched}"></textarea>
      <div class="invalid-feedback">
        Descripción es requerida.
      </div>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" id="precio" formControlName="precio" class="form-control" 
             [ngClass]="{'is-invalid': productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched}">
      <div class="invalid-feedback">
        Precio es requerido y debe ser un número positivo.
      </div>
    </div>

    <div class="mb-3">
      <label for="id_elaboracion" class="form-label">Tipo de Elaboración</label>
      <select id="id_elaboracion" formControlName="id_elaboracion" class="form-select" 
              [ngClass]="{'is-invalid': productoForm.get('id_elaboracion')?.invalid && productoForm.get('id_elaboracion')?.touched}">
        <option value="">Seleccione un tipo de elaboración</option>
        <option *ngFor="let elaboracion of elaboraciones" [value]="elaboracion.id_elaboracion">{{ elaboracion.tipo }}</option>
      </select>
      <div class="invalid-feedback">
        Tipo de elaboración es requerido.
      </div>
    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad en Inventario</label>
      <input type="number" id="cantidad" formControlName="cantidad" class="form-control" 
             [ngClass]="{'is-invalid': productoForm.get('cantidad')?.invalid && productoForm.get('cantidad')?.touched}">
      <div class="invalid-feedback">
        Cantidad es requerida y debe ser al menos 1.
      </div>
    </div>

    <div class="mb-3">
      <label for="fotos" class="form-label">Fotos del Producto (Mínimo 4)</label>
      <input type="file" id="fotos" (change)="onFileChange($event)" multiple accept="image/*" class="form-control" 
             [ngClass]="{'is-invalid': (productoForm.get('fotos')?.invalid && productoForm.get('fotos')?.touched) || (fotos.length < 4 && productoForm.get('fotos')?.touched)}">
      <div class="invalid-feedback">
        Se requieren al menos 4 fotos.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid || fotos.length < 4">Registrar Producto</button>
  </form>
</div>

    </div>

    <!-- FORMULARIO PARA REGISTRARSE A LA COMUNIDAD -->
    <div *ngIf="formularioActual === 'comunidad'" class="mt-5">
      <button type="button" class="btn btn-warning mt-3" (click)="showButtons()">Volver</button>
      @if(this.hasComunidad){
        <div class="container mt-5 p-5 bg-dark text-light rounded">
          <h5 class="text-uppercase border-bottom pb-3 mb-4">Datos Comunidad</h5>
          <ul class="list-unstyled">
              <li class="mb-3">
                  <strong>Nombre:</strong> {{ this.nombre_com }}
              </li>
              <li class="mb-3">
                  <strong>Departamento:</strong> {{ this.departamento }}
              </li>
              <li class="mb-3">
                  <strong>Provincia:</strong> {{ this.provincia }}
              </li>
              <li class="mb-3">
                  <strong>Municipio:</strong> {{ this.municipio }}
              </li>
          </ul>
      </div>
      
      
      }@else {
        <div class="container mt-5">
          <h2 class="mb-4">Listado de Comunidades</h2>
        
          <div *ngIf="loading" class="alert alert-info">
            Cargando comunidades...
          </div>
        
          <div *ngIf="error" class="alert alert-danger">
            {{ error }}
          </div>
        
          <table *ngIf="!loading && !error" class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comunidad of comunidades">
                <td>{{ comunidad.nombre }}</td>
                <td>{{ comunidad.departamento }}</td>
                <td>{{ comunidad.provincia }}</td>
                <td>{{ comunidad.municipio }}</td>
                <td>
                  <button 
                    class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#solicitudComunidadModal"
                    (click)="handleButtonClick(comunidad)">
                    Solicitar unirme
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>  
      }

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="solicitudComunidadModal" tabindex="-1" aria-labelledby="solicitudComunidadLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="solicitudComunidadLabel">Solicitud para unirse a comunidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de unirse a la comunidad <strong>{{ selectedComunidad?.nombre }}</strong> ubicada en el departamento de <strong>{{ selectedComunidad?.departamento }}</strong>?</p>
          <textarea class="form-control" [(ngModel)]="solicitudMensaje" placeholder="Escriba un mensaje..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelarSolicitud()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendSolicitud(selectedComunidad)">Enviar Solicitud</button>
        </div>
      </div>
    </div>
  </div>