<footer class="footer">
    <div class="footer-logo">
      <img src="assets/images/logodark2.jpg" alt="Tierra Creativa">
      <p>MANOS QUE CREAN, CULTURAS QUE PERDURAN</p>
      <h1>Tierra Creativa</h1>
    </div>
  
    <div class="footer-links">
      <h2>Tierra Creativa</h2>
      <ul>
        <li><a href="#">Quienes Somos?</a></li>
        <li><a href="#">Políticas de Privacidad</a></li>
        <li><a href="#">Tienda Virtual</a></li>
        <li><a href="#">Contáctanos</a></li>
      </ul>
    </div>
  
    <div class="footer-contact">
      <h2>Oficinas</h2>
      <p><i class="fa fa-map-marker"></i> La Paz - Bolivia</p>
      <p><i class="fa fa-phone"></i> (+5491) 77777777</p>
      <p><i class="fa fa-envelope"></i> tierraocreativa.com</p>
    </div>
  
    <div class="footer-social">
      <h2>Síguenos</h2>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-tiktok"></i></a>
    </div>
  </footer>
  