<div class="modal fade" id="passwordRecoveryModal" tabindex="-1" aria-labelledby="passwordRecoveryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordRecoveryLabel">Recuperar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit(username.value, email.value)">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" id="username" class="form-control" #username />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" class="form-control" #email />
                </div>
                
                <div class="wrapper">
                    <canvas #canvas width="150" height="50"></canvas>
                    <button type="button" id="reload-button" (click)="triggerFunction()">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                    </button>
                </div>
                <input
                    class="captcha"
                    type="text"
                    id="user-input"
                    placeholder="Escriba el texto de la imagen"
                    #userInput
                />
                <button id="submit-button" (click)="verificar()" type="button">Verificar</button>
                
              
                <button [disabled]="!this.captcha" type="button" class="btn btn-primary" (click)="onSubmit(username.value, email.value)">Enviar</button>
              </form>
                    <!-- Mensaje de éxito -->
                <div *ngIf="messageType === 'success'" class="alert alert-success mt-3" role="alert">
                    CAPTCHA correcto, ¡éxito!
                </div>
                
                <!-- Mensaje de error -->
                <div *ngIf="messageType === 'error'" class="alert alert-danger mt-3" role="alert">
                    CAPTCHA incorrecto, por favor inténtalo de nuevo.
                </div>
        </div>
      </div>
    </div>
  </div>
  