
  .wrapper {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 1em 0;
  }
  canvas {
    border: 1px solid #000000;
    border-radius: 0.4em;
    width: 10.0em;
  }
  button#reload-button {
    font-size: 16px;
    width: 3.6em;
    background-color: #3524d6;
    border: none;
    border-radius: 0.4em;
    color: #ffffff;
  }
  .captcha {
    font-family: "Roboto Mono", monospace;
    font-size: 0.8em;
    width: 70%;
    padding: 1em 0.7em;
    border: 1px solid #000000;
    border-radius: 0.4em;
  }
  button#submit-button {
    width: 20%;
    background-color: #3524d6;
    color: #ffffff;
    font-size: 0.75em;
    border: none;
    margin: 1em;
    padding: 0.8em 0;
    border-radius: 0.4em;
    font-family: "Roboto Mono", monospace;
  }