body {
    font-family: 'Arial', sans-serif;
    background-color: #4b2f25;
  }
  
  .navbar {
    background-color: #9b7d5e;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  h2 {
    color: #6B3E26;
  }
  
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
  
  section h2 {
    color: #8B4513;
    font-weight: bold;
  }
  
  section .row img {
    border: 2px solid #6B3E26;
    margin-bottom: 15px;
  }

/* CSS */
.btn-home {
  background-color: #6B3E26;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0.5em;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #9b7d5e;
}