.img-link {
    width: 30em;
    height: 10em;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .img-link:hover {
    transform: scale(1.05);
  }

.container{
    text-align: center;
}

table {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-inner img {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.card {
  margin-bottom: 20px;
}